<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestAll">
    <test name="case1">
        <classes>
            <class name="vn.toeiconline.core.test.ListenGuidelineTest"/>
            <class name="vn.toeiconline.core.test.RoleTest"/>
            <class name="vn.toeiconline.core.test.UserTest"/>
        </classes>
    </test>
</suite>
